<div class="text-center block mt-5">
    <h1 class="mt-5 text-4xl font-bold">Advenced Statistics</h1>
    <p class=" md:w-96 mx-auto mt-5 text-gray-500">
        Track how your links are performing across the web with our 
        advanced statistics dashboard.
    </p>
        <div class="grid grid-rows-3 md:grid-rows-5 grid-cols-3 md:gap-4 gap-32 relative mt-24 w-[90%] mx-auto" >
            <div class="md:block md:w-full md:h-4 h-[700px] w-4 bg-cyan absolute md:mt-44 mt-[28rem] md:translate-x-0 left-1/2 z-10 center-absolute" style=" transform: translate(-50%, -50%);"></div>
            <div class="md:row-span-3 row-span-1 col-span-3 md:col-span-1 shadow-lg bg-white rounded text-left mx-auto p-5 px-8 relative flex flex-col z-20">
            <div class="w-24 h-24 bg-very-dark-blue rounded-full py-4 md:mx-0 mx-auto" style="margin-top: -70px;">
                <img src="/images/icon-brand-recognition.svg" alt="Brand recognition" class="w-12 h-12 m-auto">
            </div>
            <h1 class="mt-12 text-xl font-bold text-gray-900 mb-4">Brand Recognition</h1>
            <p class="mb-2 text-gray-500">Boost your brand recognition with each click. Generic links don’t 
                mean a thing. Branded links help instil confidence in your content.
            </p>
        </div>
        <div class="md:-mt-12 md:row-span-3 md:row-start-2 md:col-start-2 col-span-3 md:col-span-1 shadow-lg bg-white rounded text-left mx-auto p-5 px-8 relative flex flex-col z-20">
            <div class="w-24 h-24 bg-very-dark-blue rounded-full py-6 md:mx-0 mx-auto" style="margin-top: -70px;">
                <img src="/images/icon-detailed-records.svg" alt="Brand recognition" class="w-12 h-12 m-auto">
            </div>
            <h1 class="mt-12 text-xl font-bold text-gray-900 mb-4">Detailed Records</h1>
            <p class="mb-2 text-gray-500">Gain insights into who is clicking your links. Knowing when and where 
                people engage with your content helps inform better decisions.
            </p>
        </div>
        <div class="md:-mb-12 md:row-span-3 md:row-start-2 md:col-start-3 col-span-3 shadow-lg bg-white rounded text-left mx-auto p-5 px-8 relative flex flex-col z-20">
            <div class="w-24 h-24 bg-very-dark-blue rounded-full  py-6 md:mx-0 mx-auto" style="margin-top: -70px;">
                <img src="/images/icon-fully-customizable.svg" alt="Brand recognition" class="w-12 h-12 m-auto">
            </div>
            <h1 class="mt-12 text-xl font-bold text-gray-900 mb-4">Fully Customizable</h1>
            <p class="mb-2 text-gray-500">Improve brand awareness and content discoverability through customizable 
                links, supercharging audience engagement.
            </p>
        </div>
    </div>
</div>