<div class="mt-32 w-full bg-grayish-violet py-12" style="background-image: url('/images/bg-boost-desktop.svg'); background-position: center center; background-repeat: no-repeat; background-size: cover;">
    <h1 class="md:text-3xl text-2xl font-bold text-white mb-5">Boost your links today</h1>
    <button class="bg-cyan hover:bg-dark-cyan text-white text-2xl font-bold px-8 py-2 rounded-3xl scrollButton">Get Started</button>
</div>
