<div id="navbar" class="relative flex flex-col md:flex-row justify-between mt-24 mb-24">
    <div class="md:w-[32rem] mx-auto text-center md:text-left order-2 md:order-1">
        <h1 class="md:text-7xl text-4xl font-bold">More than just shorter links</h1>
        <div class="my-5 text-lg font-semibold text-dark-gray">Build your brand’s recognition and get detailed insights 
            on how your links are performing.</div>
        <div><button class="bg-cyan hover:bg-dark-cyan text-white text-2xl font-bold px-8 py-2 rounded-3xl scrollButton">Get Started</button></div>
    </div>
    <div class="mx-10 text-center md:text-right order-1 md:order-2">
        <img src="/images/illustration-working.svg" alt="hero section" class="mx-auto mt-12 md:mt-0 md:w-[550px] lg:w-auto">
    </div>
</div>

